{% extends 'app_base.html' %}

{% block main %}
<h1 class="text-center font-bold text-4xl">My Notes</h1>
<div class="flex justify-end mt-10">
    <a
        href="{% url 'notes:create' %}"
        class="flex gap-1 rounded border p-2 bg-green-600 text-white hover:bg-green-700 transition-colors cursor-pointer"
    >
        <i data-lucide="plus"></i>
        Add Note
    </a>
</div>

<div id="note-list" class="flex-1 overflow-auto min-h-96 mt-5">
    {% include "notes/partials/_note_list.html" %}
</div>

{% endblock main %}
