{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block title %}Edit Profile{% endblock title %}
{% block main %}
<h1 class="text-center font-bold text-4xl">Edit Profile</h1>

<div class="flex justify-end mt-10">
    <a
        href="{% url 'profile' %}"
        class="flex gap-1 rounded border p-2 bg-green-600 text-white hover:bg-green-700 transition-colors cursor-pointer"
    >
        <i data-lucide="x"></i>
        Cancel
    </a>
</div>

<form method="post" class="max-w-2xl mx-auto w-full mt-10 p-5 rounded-lg space-y-3">
  {% if form.non_field_errors %}
  <ul class="flex flex-col gap-1">
    {% for error in form.non_field_errors %}
    <li class="p-1 bg-red-200 text-sm font-bold text-red-600 border-l-4 border-red-600">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% csrf_token %}

  {% for field in form %}
  <fieldset class="flex flex-col gap-1">
    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
    {% render_field field class="border border-gray-700 p-1 rounded" %}

    {% if field.errors %}
    <ul class="flex flex-col">
      {% for error in field.errors %}
      <li class="text-sm font-bold text-red-600">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="prose prose-sm">{{ field.help_text }}</div>

  </fieldset>
  {% endfor %}

  <button 
    type="submit"
    class="w-full p-1 bg-green-600 text-white rounded hover:bg-green-700 cursor-pointer transition-colors"
  >
    Update profile
  </button>
</form>
{% endblock main %}
  
