<form method="post" class="max-w-2xl w-full bg-white p-5 rounded-lg space-y-3">
  {% if messages %}
  <ul class="space-y-3">
    {% for message in messages %}
    <li class="p-2 border-l-2 border-green-800 text-green-800 text-sm bg-green-200">{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if form.non_field_errors %}
  <ul class="flex flex-col gap-1">
    {% for error in form.non_field_errors %}
    <li class="p-1 bg-red-200 text-sm font-bold text-red-600 border-l-4 border-red-600">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% csrf_token %}

  {% include 'partials/_app_form_fields.html' %}

  <button 
    type="submit"
    class="w-full p-1 bg-green-600 text-white rounded hover:bg-green-700 cursor-pointer transition-colors"
  >
    Send
  </button>

  <div class="flex flex-col md:flex-row justify-between gap-1">
    <a href="{% url 'register' %} " class="text-purple-600 text-sm hover:underline">Don't you haven an account?
      Register</a>
    <a href="{% url 'login' %}" class="text-purple-600 text-sm hover:underline">Already have an account? Login</a>
  </div>
</form>
