{% extends "base.html" %}

{% block content %}
<div class="flex min-h-screen" x-data="{ sidebar: window.innerWidth >= 1024 }">
    <aside 
        x-cloak
        class="flex flex-col fixed lg:static bg-green-600 w-64 lg:w-96 h-screen z-10 transform transition-transform"
        :class="sidebar ? 'translate-x-0' : '-translate-x-full'"
    >
        <a href="{% url 'notes:list' %}" class="text-center text-white font-bold text-4xl p-5 border-b">Note App</a>

        <nav class="flex-1 flex flex-col gap-5 overflow-auto p-5">
            <a href="{% url 'notes:create' %}" class="flex gap-2 tex-lg font-bold text-white truncate">
                <i data-lucide="plus"></i>
                Add Note
            </a>
            <a href="{% url 'notes:list' %}" class="flex gap-2 tex-lg font-bold text-white truncate">
                <i data-lucide="notepad-text"></i>
                My Notes
            </a>
            <a href="{% url 'profile' %}" class="flex gap-2 tex-lg font-bold text-white truncate">
                <i data-lucide="user"></i>
                My Profile
            </a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="flex gap-2 tex-lg font-bold text-white truncate cursor-pointer" type="submit">
                    <i data-lucide="log-out"></i>
                    Logout
                </button>
            </form>
        </nav>
    </aside>

    <div 
        x-cloak
        x-transition.opacity
        x-show="sidebar"
        @click="sidebar = false"
        class="fixed inset-0 bg-black/40 backdrop-blur-xs lg:hidden"
    ></div>

    <div 
        x-cloak 
        class="flex flex-col h-screen w-full transition-all"
        :class="sidebar ? 'lg:ml-0' : 'lg:-ml-96'"
    >
        <header class="container mx-auto p-5">
            <button @click="sidebar = !sidebar">
                <i data-lucide="menu" class="size-8"></i>
            </button>
        </header>

        <div class="flex-1 overflow-auto">
            <main class="flex flex-col h-full max-w-4xl w-full mx-auto p-5" x-data="{ modal: false }">
                {% block main %}{% endblock main %}
                <div
                    x-show="modal"
                    x-transition.opacity
                    class="fixed inset-0 bg-black/50 flex items-center justify-center z-30 backdrop-blur-xs"
                >
                    <div
                        id="modal-body"
                        @click.outside="modal = false"
                        class="flex flex-col bg-white rounded-xl shadow-lg w-full max-w-2xl max-h-screen p-3 mx-5 space-y-3"
                    ></div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock content %}
