{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'theme/css/output.css' %}">
  <title>{% block title %} Notes {% endblock title %}</title>
  <script src="https://unpkg.com/lucide@0.564"></script>
  <script src="//unpkg.com/alpinejs@3.15" defer></script>
  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>
</head>

<body class="bg-gray-200">

  {% block content %}

  {% endblock content %}

  <script>
    lucide.createIcons();
  </script>
</body>

</html>
